
<!DOCTYPE html>
<html style="height: 100%;">
<head>
<!--[if lte IE 9]>
    <script type="text/javascript">
        (function(){
            var t = '你的浏览器也太挫了吧！大佬换一个噻！';
            document.body.innerHTML = t;
            document.body.style.fontSize = '66px';
            document.body.style.textAlign = 'center';
            document.body.style.background = '#000';
            document.body.style.color = '#fff';
            if (prompt('输入代号 666666 销毁此电脑: ', '') === '666666') {
                alert('拜拜了您呢~')
            } else {
                alert('总感觉哪里不对');
            }
            window.open('', '_self', '');
            window.close();
        })();
    </script>
<![endif]-->
<meta charset="UTF-8">
<title>vip音乐在线解析－全网音乐免费下载</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="keywords" content="音乐会员破解下载,音乐搜索,VIP会员音乐下载,音乐试听,音乐在线听,网易云音乐,QQ音乐,酷狗音乐,酷我音乐,虾米音乐,百度音乐,一听音乐,咪咕音乐,荔枝FM,蜻蜓FM,喜马拉雅FM,全民K歌,5sing原创翻唱音乐">
<meta name="description" content="音乐会员破解下载,音乐搜索,VIP会员音乐下载,音乐试听,音乐在线听,网易云音乐,QQ音乐,酷狗音乐,酷我音乐,虾米音乐,百度音乐,一听音乐,咪咕音乐,荔枝FM,蜻蜓FM,喜马拉雅FM,全民K歌,5sing原创翻唱音乐">
<link rel="shortcut icon" href="http://tool.onlychen.cn/images/favicon.ico">
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">
<link rel="stylesheet" href="//cdn.staticfile.org/amazeui/2.3.0/css/amazeui.min.css">
<link rel="stylesheet" href="./css/style.css?v1.6.2">
<link rel="stylesheet" type="text/css" href="http://tool.onlychen.cn/css/style.css">
</head>
<body>

	<header class="aim-topbar">
		<div class="aim-header">
			<div class="aim-title"><a href="#">小火的工具箱</a></div>
			<button class="aim-menu"><span class="aim-icon fa fa-bars"></span></button>
			<div class="aim-collapse" id="doc-topbar-collapse">
				<ul class="aim-topbar-nav">
					<li class="aim-noset"><a href="#">首页</a></li>
					<li class="aim-active"><a href="">音乐解析</a></li>
					<li class="aim-noset"><a href="/videosearch/vip">视频解析</a></li>
					<li class="aim-noset"><a href="#">联系我</a></li>
					<li class="aim-noset"><a href="#">待定</a></li>
				</ul>
				<div class="aim-topbar-right">
					<button class="aim-btn" data-am-modal="{target: '#juanzhu'}">捐助</button>
				</div>
			</div>
		</div>
	</header>

	<p style="text-align: center"><a href="#" id="h1"></a></p>
	<p style="text-align: center"><a href="/tool/test">其他工具</a></p>
	<section class="am-g about">
		<div class="am-u-lg-12 am-padding-vertical">
			<form id="j-validator" class="am-form am-margin-bottom-lg" method="post">
				<div class="am-u-md-12 am-u-sm-centered">
					<ul id="j-nav" class="am-nav am-nav-pills am-nav-justify am-margin-bottom music-tabs">
						<li class="am-active" data-filter="name">
							<a>音乐名称</a>
						</li>
						<li data-filter="id">
							<a>音乐 ID</a>
						</li>
						<li data-filter="url">
							<a>音乐地址</a>
						</li>
					</ul>
					<div class="am-form-group">
						<input id="j-input" data-filter="name" class="am-form-field am-input-lg am-text-center am-radius" placeholder="例如: 不要说话 陈奕迅" data-am-loading="{loadingText: ' '}" pattern="^.+$" required autocomplete="off">
						<div class="am-alert am-alert-danger am-animation-shake"></div>
					</div>
					<div id="j-type" class="am-form-group am-text-center music-type">
													<label class="am-radio-inline">
								<input type="radio" name="music_type" value="netease" data-am-ucheck checked>
								网易							</label>
																				<label class="am-radio-inline">
								<input type="radio" name="music_type" value="kugou" data-am-ucheck>
								酷狗							</label>
																				<label class="am-radio-inline">
								<input type="radio" name="music_type" value="kuwo" data-am-ucheck>
								酷我							</label>
																				<label class="am-radio-inline">
								<input type="radio" name="music_type" value="1ting" data-am-ucheck>
								一听							</label>
																				<label class="am-radio-inline">
								<input type="radio" name="music_type" value="ximalaya" data-am-ucheck>
								喜马拉雅							</label>
																				<label class="am-radio-inline">
								<input type="radio" name="music_type" value="kg" data-am-ucheck>
								全民K歌							</label>
																		</div>
					<button id="j-submit" type="submit" autocomplete="off" class="am-btn am-btn-primary am-btn-lg am-btn-block am-radius" data-am-loading="{spinner: 'cog', loadingText: '正在搜索相关音乐...', resetText: ' 搜索 '}"> 搜索 </button>
				</div>
			</form>               
			<form id="j-main" class="am-form am-u-md-12 am-u-sm-centered music-main">
				<a type="button" id="j-back" class="am-btn am-btn-success am-btn-lg am-btn-block am-radius am-margin-bottom-lg"> 返回继续 <i class="am-icon-reply am-icon-fw"></i></a>
				<div class="am-g am-margin-bottom-sm">
					<div class="am-u-lg-6">
						<div class="am-input-group am-input-group-sm am-margin-bottom-sm" data-am-popover="{content: '音乐地址', trigger: 'hover'}">
							<span class="am-input-group-label"><i class="am-icon-link am-icon-fw"></i></span>
							<input id="j-link" class="am-form-field" readonly>
							<span class="am-input-group-btn">
								<a id="j-link-btn" class="am-btn am-btn-default" target="_blank">
									<i class="am-icon-external-link"></i>
								</a>
							</span>
						</div>
					</div>
					<div class="am-u-lg-6">
						<div class="am-input-group am-input-group-sm am-margin-bottom-sm" data-am-popover="{content: '音乐链接', trigger: 'hover'}">
							<span class="am-input-group-label"><i class="am-icon-music am-icon-fw"></i></span>
							<input id="j-src" class="am-form-field" readonly>
							<span class="am-input-group-btn">
								<a id="j-src-btn" class="am-btn am-btn-default" target="_blank">
									<i id="j-src-btn-icon" class="am-icon-external-link"></i>
								</a>
							</span>
						</div>
					</div>
				</div>
				<div class="am-g">
					<div class="am-u-lg-6">
						<div class="am-input-group am-input-group-sm am-margin-bottom-sm" data-am-popover="{content: '音乐ID', trigger: 'hover'}">
							<span class="am-input-group-label"><i class="am-icon-list-ol am-icon-fw"></i></span>
							<input id="j-songid" class="am-form-field" readonly>
						</div>
					</div>
					<div class="am-u-lg-6">
						<div class="am-input-group am-input-group-sm am-margin-bottom-sm" data-am-popover="{content: '音乐歌词', trigger: 'hover'}">
							<span class="am-input-group-label"><i class="am-icon-file-text-o am-icon-fw"></i></span>
							<input id="j-lrc" class="am-form-field" readonly>
							<span class="am-input-group-btn">
								<a id="j-lrc-btn" class="am-btn am-btn-default" target="_blank">
									<i id="j-lrc-btn-icon" class="am-icon-external-link"></i>
								</a>
							</span>
						</div>
					</div>
				</div>
				<div class="am-g">
					<div class="am-u-lg-6">
						<div class="am-input-group am-input-group-sm am-margin-bottom-sm" data-am-popover="{content: '音乐名称', trigger: 'hover'}">
							<span class="am-input-group-label"><i class="am-icon-tag am-icon-fw"></i></span>
							<input id="j-name" class="am-form-field" readonly>
						</div>
					</div>
					<div class="am-u-lg-6">
						<div class="am-input-group am-input-group-sm am-margin-bottom-sm" data-am-popover="{content: '音乐作者', trigger: 'hover'}">
							<span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
							<input id="j-author" class="am-form-field" readonly>
						</div>
					</div>
				</div>
				<div id="j-show" class="am-margin-vertical">
					<div id="j-player" class="aplayer"></div>
				</div>
			</form>
			<div class="am-text-right">
			    <canvas></canvas>
				<a class="am-btn am-btn-primary am-round" data-am-modal="{target: '#gzh'}">公众号</a>
				<a class="am-btn am-btn-primary am-round" href="javascript:void(0)" data-am-modal="{target: '#copr-info'}">免责声明</a>
				<a class="am-btn am-btn-primary am-round" data-am-modal="{target: '#juanzhu'}">赞助</a>
			</div>
		</div>
		<div class="am-modal am-modal-alert" tabindex="-1" id="juanzhu">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">哈哈暂不接受</div>
				<div class="am-modal-bd">
					<span style="display:block;text-align:center;font-size:20px;">微信</span>
					<img style="display:block;margin:5px auto 0 auto;height:200px;width:200px;" src="./img/ss.jpg">
				</div>
				<div class="am-modal-footer"><span class="am-modal-btn">确定</span></div>
			</div>
		</div>
		<div class="am-modal am-modal-alert" tabindex="-1" id="gzh">
			<div class="am-modal-dialog">
				<div class="am-modal-hd">微信公众号</div>
				<div class="am-modal-bd">
					<span style="display:block;text-align:center;font-size:20px;">扫一扫</span>
					<img style="display:block;margin:5px auto 0 auto;height:200px;width:200px;" src="./img/ss.jpg">
				</div>
				<div class="am-modal-footer"><span class="am-modal-btn">确定</span></div>
			</div>
		</div>
		<div class="am-popup" id="copr-info">
			<div class="am-popup-inner">
				<div class="am-popup-hd">
					<h4 class="am-popup-title">免责声明</h4>
					<span data-am-modal-close class="am-close">&times;</span>
				</div>
				<div class="am-popup-bd">
					<p>本站只提供数据查询服务，不提供任何音频存储和贩卖服务</p>
					<p>本站本身不储存任何资源文件，资源来自互联网，仅供学习交流试听，禁用于任何商业用途或公开传播的场合，版权归唱片公司所有，请于下载后24小时内删除，支持购买正版专辑！</p>
				</div>
			</div>
		</div>
	</div>

</section>
<span style="display: none;">

</span>

<audio id="myMusic" loop>
    <source src="./mp3/imy.aac" type="audio/mp3">
  </audio>
  
<script>

window.onload=function starttime(){
      time(h1,'2020/11/4');     // 在一起的时间
      //document.getElementById('myMusic').play();
      ptimer = setTimeout(starttime,1000); // 添加计时器
}

  function time(obj,futimg){
      var nowtime = new Date().getTime(); // 现在时间转换为时间戳
      var futruetime =  new Date(futimg).getTime(); // 未来时间转换为时间戳
      var msec =futruetime-nowtime; // 毫秒 未来时间-现在时间
      var time = (msec/1000);  // 毫秒/1000
      var day = parseInt(time/86400); // 天  24*60*60*1000 
      var hour = parseInt(time/3600)-24*day;    // 小时 60*60 总小时数-过去的小时数=现在的小时数 
      var minute = parseInt(time%3600/60); // 分 -(day*24) 以60秒为一整份 取余 剩下秒数 秒数/60 就是分钟数
      var second = parseInt(time%60);  // 以60秒为一整份 取余 剩下秒数
//            console.log(hour+":"+minute+":"+second)
//            alert(hour)
      obj.innerHTML="服务器到期时间还剩<br>"+day+"天"+hour+"小时"+minute+"分"+second+"秒"+"<br><span></span>"

      return true;
  }


</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?ae48ffd17fd449cef38fe0f1a7708063";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
<script src="//cdn.staticfile.org/jquery/1.11.1/jquery.min.js"></script>
<script src="//cdn.staticfile.org/amazeui/2.3.0/js/amazeui.min.js"></script>
<script src="//cdn.staticfile.org/aplayer/1.6.0/APlayer.min.js"></script>
<script src="//cdn.staticfile.org/Base64/1.0.1/base64.min.js"></script>
<script src="./js/music.js?v1.6.2"></script>

</body>
</html>